<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Base template</title>
    {% block head %}
    {%endblock%}
</head>

<body>
<main class="container">
  {%include 'header.html'%}

  <script>
    function myFunction() {
        document.getElementById("flashes").style.display = "none";
    }
    </script>
<section class="flashes" id="flashes">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>document.getElementById("flashes").style.display = "flex";</script>
        {% for message in messages %}
            <div class="message">{{message}}</div>
            <button aria-label="Close" rel="prev" class="close_flash" onclick="myFunction()">X</button>
      {% endfor %}

      {% endif %}
      {% endwith %}
    </section>     


<!-- 
      <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div> -->


    {% block main_content %}
    Base information
    {%endblock%}
</main>
</body>
{%include 'footer.html'%}
</html>