{%extends 'base.html'%}
{% block head %}
<title>Login page</title>
{%endblock%}
    <!-- <form action="/login" method="post">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="email">
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="your password">
        <button type="submit">Login</button>
    </form> -->
    {% block main_content %}
    <form action="/login" method="post" id="user_form">
      <fieldset role="group">
        <input name="email" type="email" id="email" placeholder="your email" autofocus/>
        <input name="password" type="password" id="password" placeholder="your password" />
      </fieldset>
        <input type="submit" value="Log in" />
    </form>

{%endblock%}
