<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section id="full_login">

    <form action="/login" method="post">
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="email">
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="your password">
        <button type="submit">Login</button>
    </form>
    <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
</section>
</body>
</html>