{% extends "base.html" %}
{% block head %}
<title>Main Page</title>
{%endblock%}
{% block main_content%}
<article class="intro">Words for typing practice will be taken from over 466k English words, excluding proper names, acronyms, or compound words and phrases. You could choose specific letter for practice. In that case will be taken words, where the picked letter is most frequent one. Random test picks random words in amount of range between 1 and 50. Registration gives opportunity to track such parameters as accuracy, speed and symbol per minute and their progress.</article>
    <!-- Amount of words -->
<form action="/typing_test" method="GET">
    <header>Amount of words:     <span class="number"></span></header>
    <input name = 'string_length'type="range" value="1" min="1" max="50" step="1" id='string_length' onclick="document.body.style.setProperty('--string_length', this.value);" oninput="document.body.style.setProperty('--string_length', this.value);"/>

    <small id="range-helper">
        Drag the slider for desired word amount.
    </small>
    <fieldset id="letters_list">
        <legend>Letter to practice:</legend>
        {%for i in 'abcdefghijklmnopqrstuvwxyz'%}
    <div class="practice_letter">
       <input class="letter_radio"type="radio" id={{i}} name="letter" value={{i}}/>
        <label for={{i}}>{{i}}</label>
    </div>
        {%endfor%}
      </fieldset>
    <small id="letter-helper">
        *In a test there will be words, where the letter you picked occurs most often. If desired letter is not selected - random one will be used.
    </small>
    <input type="submit" value="Start typing" />
</form>

{%endblock%}
