{% extends "base.html" %}
{% block head %}
<title>Main Page</title>
{%endblock%}
{% block main_content%}
<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam repudiandae in voluptate quidem voluptatum quibusdam commodi non blanditiis, necessitatibus veritatis quaerat, beatae eligendi voluptatibus inventore quas. Culpa provident nisi sit id animi quis quos voluptatibus eligendi ipsam non facere modi, fugiat laborum maiores libero quae eos accusantium aut recusandae minus? Recusandae magni incidunt unde.</section>
{%endblock%}
