{%extends 'base.html'%}
{%block head%}
<title>Your profile</title>
{%endblock%}

{%block main_content%}
<table >

    <tbody>
        <tr>
        <td>Name :</td>
        <td>{{user.name}}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>Average accuracy :</td>
            <td>{{avg_accuracy}}</td>
        <tr>

            <td>Average symbol per minute :</td>
            <td>{{avg_symbol_p_minute}}</td>
        </tr>

    </tbody>


</table>
<table class="striped">
    <tbody>
        <tr>
            <td scope="col">Attempt number</th>
            <td scope="col">Accuracy</th>
            <th scope="col">Symbol per minute</th>
          </tr>
    {% if user.accuracy%}
    {% for i in range(user.accuracy.split()|count)%}
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{user.accuracy.split()[i]}}</td>
        <td>{{user.symbol_p_minute.split()[i]}}</td>
      </tr>
    {%endfor%}
    {%endif%}
    </tbody>

  </table>
{%endblock%}