<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<section id="register_form">
<form class="user_form" action="http://127.0.0.1:5000/registration" method="post">
    <!-- <label for="first_name">First name</label> -->
    <input name='first_name'id="first_name" type="text" placeholder="First name">
    <!-- <label for="surname">Surname</label> -->
    <input name='surname'id="surname" type="text" placeholder="Surname">
    <input type="email" name="email" id="email" placeholder="email">
    <button type="submit">Send</button>




</form> 
</section>
</body>
</html>