{% extends 'base.html'%}
{% block head %}
<title>Signup page</title>
{%endblock%}
  {% block main_content %}
    <form action="/signup" method="post">
      <fieldset role="group">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="your name" autofocus>
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="your email">
      </fieldset>
      <fieldset role="group">

        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="your password">
        <label for="retype_password"></label>
        <input type="password" name="retype_password" id="retype_password" placeholder="type your password again">
      </fieldset>

        <button type="submit">Register</button>
    </form>

  {%endblock%}
