{% extends "base.html" %}
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Typing_test</title>
    {%endblock%}

    {%block main_content%}

<div id="words_string_wrapper">
<article id="words_string">
    {%for i in range(words_list|list|count)%}
    <!-- <span id={{i}}>{{words_list[i]}}</span> -->
    <div class='word'id={{i}}>
    {%for l in range(words_list[i]|count)%}

        <span id="{{l}}">
            {{words_list[i][l]}}
        </span>
    
        {%endfor%}
    
    </div>

    {%endfor%}
</article>
</div>
    <dialog open id="press_enter">
        <article>
          <header>
            <!-- <button aria-label="Close" rel="prev"></button> -->

          </header>
        </article>
      </dialog>

<section id="typing_result">
    <div>
    <table id="result_table"><tbody>
        <tr>
            <td>Speed (seconds)</td>
            <td>Symbol per minute</td>
            <td>Accuracy (percent)</td>
        </tr>
        <tr>
            <td><div id="res_speed"></div></td>
            <td><div id="symbol_per_minute"></div></td>
            <td><div id="accuracy"></div></td>
        </tr>
    </tbody>
    </table>
    </div>
</section>
<form action="/typing_test" method="get" id="new_test_button">
    <input name="string_length" type="hidden" id="string_length" value={{test_settings.string_length}} />
    <input name="letter" type="hidden" id="letter" value='{{test_settings["letter"]}}' />

<input type="submit" value="New test" />
<small>*with same parameters</small>
</form>

    <script>

        async function loadListSequentially(letter) {
        var args = {expected_key: letter}
        var response = await fetch('http://127.0.0.1:5000//typing_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'title': 'key_listener'
                },
                body: JSON.stringify(args)
            })
        var data = await response.json();
        return data['result']
        }
        var press_enter = false;
        var res_section = document.getElementById('press_enter');
        res_section.innerHTML = 'Press Enter to start typing test';

        async function to_Start(){
            press_enter = await loadListSequentially('enter');
            if (press_enter==false){
                await to_Start();
            }
            else{res_section.style.display = 'none';}
        }
    var words_list = '{{words_list|list|join(" ")}}'
    var words_list = words_list.split(' ');


    async function iterAtor(){
    await to_Start()
    let false_keys = 0
    var stat_data = {'accuracy':null, 'symbol_p_minute' : null}
    var start = false;
    for (i = 0; i<words_list.length; i++){
        for (l = 0; l<words_list[i].length; l++){
        cur_letter = document.querySelector(`div[id ="${i}"] span[id = "${l}"]`);
        cur_letter.style['text-decoration-line'] = 'underline';
        var result = await loadListSequentially(words_list[i][l])

        if (!start){
            start = new Date().getTime();
        }
        if(!result){
            cur_letter.style['text-decoration-line'] = 'none';
            cur_letter.style.color = 'red';
            false_keys++;
        }
        if(result){
            cur_letter.style['text-decoration-line'] = 'none';
            cur_letter.style.color = 'green';
        }
    }
    }
    var end = new Date().getTime();
    var total_length = words_list.map(word=>{return word.length});
    total_length = total_length.reduce((a, b) => a + b, 0);
    accuracy = Number(100 -(100/`${total_length}` * false_keys).toFixed(2));
    stat_data.accuracy = accuracy;
    speed = Number(((end - start)/1000).toFixed(2));
    stat_data.symbol_p_minute = `${total_length}`*(60/speed).toFixed(0);
    var res_speed = document.getElementById('res_speed');
    var symbol_per_minute = document.getElementById('symbol_per_minute');
    var res_accuracy = document.getElementById('accuracy');
    res_speed.innerHTML = speed;
    symbol_per_minute.innerHTML = stat_data.symbol_p_minute;
    res_accuracy.innerHTML = accuracy.toFixed(2);
    function show_res_table() {
        document.getElementById("typing_result").style.display = "block";
        document.getElementById("new_test_button").style.display = "block";

    }
    show_res_table()
    var stat_res = await fetch('http://127.0.0.1:5000//typing_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'title':'stats'
                },
                body: JSON.stringify(stat_data)
            })
    stat_stat_res = await stat_res.json()
    }
    iterAtor();
    </script>

{%endblock%}
