

:root {
  --pico-primary-background: #d24317;
  --pico-font-size: 1.5rem;
  --string_length: 1;
  --pico-nav-breadcrumb-divider: none;
  --pico-border-radius: 0.25rem;
  }

  .container{
    min-height: 85vh;
  
  }

#words_string{
  /* max-width: 80vw; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.word{
  display: flex;
}
table tr,table th,table td{
  text-align: center;
}
.number::before{
  counter-reset: variable var(--string_length);
	content: counter(variable);
}
.breadcrumb div{
  margin: auto;
  list-style-type:none
}
div>hr{
  margin: 0.2rem;

}

.breadcrumb div ul li{
  padding: 0.2rem;
}
footer{
  bottom: 0vh;
  width: 100%;


}
footer nav{
  position: relative;
  margin: auto;

}
header hr{
  margin-top: 0;
}
.flashes {
  border: var(--pico-outline-width) solid var(--pico-primary-background);
  border-radius: var(--pico-border-radius);
  display: none;
  align-items: center;

}

.flashes .message{
  width: 100%;
  display: flex;
  float: left;
  margin-left:var(--pico-form-element-spacing-horizontal)
}
.flashes button{
  border-radius: 0;
}
#words_string{
  text-align: center;
}

#typing_result{
  display: none;
}
header nav a{
  text-decoration: none;
}
#new_test_button{
  display: none;
}
#letters_list{
  display: flex;
  flex-wrap: wrap;

}
.practice_letter{
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.practice_letter div{
  width: 100%;
}
.letter_radio{
  margin: auto;
}
.intro{
  text-align: center;
}
#user_form input{
  border-radius: var(--pico-border-radius);
}