

:root {
  --pico-primary-background: #d24317;
  --pico-font-size: 1.5rem;
  --word_amount_slider: 1;
  }

/* #words_string {
    font-size: 3em;
    color: rgb(43, 135, 197);
    height: 507px;

} */
kbd{
  font-size: 100%;
  /* padding: auto; */
  margin: auto;

}

#words_string{
  max-width: max-content;
  margin: auto;

}
table tr,table th,table td{
  text-align: center;
}
.number::before{
  counter-reset: variable var(--word_amount_slider);
	content: counter(variable);
}
.breadcrumb div{
  margin: auto;
}
div>hr{
  margin: 0.2rem;

}
.breadcrumb div ul li{
  padding: 0.2rem;
}
footer{
  position: relative;
  bottom: 0vh;
  width: 100%;
  /* justify-content: center; */

}
footer nav{
  position: relative;
  /* display: flex; */

  margin: auto;

}
header hr{
  margin-top: 0;
}
.flashes {
  border: var(--pico-outline-width) solid var(--pico-primary-background);
  border-radius: var(--pico-border-radius);
  display: none;
  /* justify-content: center; */
  align-items: center;

}

.flashes .message{
  /* align-items: center;
  align-content: center; */
  width: 100%;
  display: flex;
  /* height: auto; */
  float: left;
  margin-left:var(--pico-form-element-spacing-horizontal)
}
.flashes button{
  border-radius: 0;
}
#words_string{
  text-align: center;
}

#typing_result{
  display: none;
}
header nav a{
  text-decoration: none;
}